extends layout

block content
  .container
    h1= title

    if subjects.length > 0
      each subject, index in subjects
        .card.mb-3
          .card-body
            h5.card-title
              a(href=`/subjects/${subject._id}`)= subject.name
            p.card-text
              if subjectCount[index] > 0
                | There are #{subjectCount[index]} material(s) available for this subject.
              else
                | No materials available for this subject.
          a.btn.btn-primary(href=`/subjects/${subject._id}`) View Details
    else
      p No subjects found.
