.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    overflow-y: auto;
  }

  .sidebar-nav {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
  }

  .sidebar-nav {
    flex-direction: row;
  }
}
